/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary-text: #880E4F;
  --color-secondary-text: #C2185B;
  --color-headline-text: #C51162;
  --color-theme1: #AD1457;
  --color-hover: #E91E63;
  --pure-white: #ffffff;
  --pure-black: #000000;
  --color-success: #30d158;
  --color-error: #ff443a;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-text);
  min-height: 100vh; }

.masthead__text {
  font-size: 8rem;
  font-weight: 600;
  color: var(--pure-white); }

.latest-blogs__blog--title {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: var(--color-primary-text); }

.latest-blogs__blog--info {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.7rem;
  color: var(--color-secondary-text); }

.section-headline {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-headline-text); }

.part-vision--text {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  text-align: center;
  color: var(--pure-white); }

.logo {
  margin-left: 2rem;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .logo__svg {
    height: 4.25rem;
    margin-right: 1rem; }
  .logo__text {
    font-size: 3rem;
    font-weight: 600; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500; }
  .user-nav__item {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__link:hover {
    color: var(--color-hover); }
  .user-nav__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--pure-white); }

.masthead {
  width: 100%;
  height: 45rem;
  background-image: url("../../img/masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--Grey-light-2); }

.latest-blogs {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem; }
  .latest-blogs__blog {
    padding: 5.3rem;
    background-color: var(--pure-white);
    box-shadow: var(--shadow-dark);
    border-radius: 2rem;
    margin-bottom: 2rem; }

.genres {
  flex: 1; }

.part-help {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }
  .part-help__link {
    margin-right: 10rem; }
    .part-help__link:last-child {
      margin-right: 0rem; }
    .part-help__link--text {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase; }
    .part-help__link--text > a {
      text-decoration: none;
      color: var(--pure-white); }
      .part-help__link--text > a:hover {
        color: var(--color-hover); }

.white-light {
  border: 1px solid var(--pure-white);
  width: 70%;
  margin: auto; }

.part-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 30rem; }

.part-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--color-primary-text); }
  .part-legal--text {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--pure-white); }

.container {
  max-width: 100%;
  box-shadow: var(--shadow-dark);
  min-height: 100vh; }

.header {
  height: 8rem;
  background-color: var(--pure-black);
  border-bottom: 1px solid var(--Grey-dark-1);
  color: var(--pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  margin: 0 2rem;
  background-color: var(--pure-white);
  padding: 4rem 2rem;
  display: flex;
  min-height: 50rem;
  border-bottom: 1px solid var(--Grey-light-2); }

.page-footer {
  background-color: var(--pure-black);
  min-height: 30rem; }

.login-container {
  max-width: 100rem;
  background-color: var(--pure-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  min-height: 80vh;
  display: flex;
  margin: 10rem auto; }

.sign-in-container {
  flex: 0 0 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  .overlay-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5rem;
    height: 100%;
    text-align: center; }
    .overlay-panel--primary {
      font-size: 4rem;
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 2rem; }
    .overlay-panel--secondary {
      font-size: 2rem;
      font-weight: 400;
      color: var(--pure-white);
      margin-bottom: 11rem; }
    .overlay-panel__btn {
      border-radius: 2rem;
      border: none;
      background-color: var(--pure-white);
      color: var(--color-headline-text);
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1.5rem 4.5rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 2rem 0;
      cursor: pointer; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 5rem;
  height: 100%;
  text-align: center; }
  .login__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headline-text);
    margin-bottom: 2.5rem; }
  .login > input {
    background-color: #eee;
    border: none;
    padding: 1.2rem 1.5rem;
    margin: 2rem 0;
    width: 100%; }
  .login__btn {
    border-radius: 2rem;
    border: 2px solid var(--color-headline-text);
    background-color: var(--pure-white);
    color: var(--color-headline-text);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer; }

.signup-container {
  max-width: 100rem;
  background-color: var(--pure-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  min-height: 80vh;
  display: flex;
  margin: 10rem auto; }

.sign-up-container {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.signup__overlay {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }
  .signup__overlay-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5rem;
    height: 100%;
    text-align: center; }
    .signup__overlay-panel--primary {
      font-size: 4rem;
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 2rem; }
    .signup__overlay-panel--secondary {
      font-size: 2rem;
      font-weight: 400;
      color: var(--pure-white);
      margin-bottom: 10rem; }
    .signup__overlay-panel__btn {
      border-radius: 2rem;
      border: none;
      background-color: var(--pure-white);
      color: var(--color-headline-text);
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1.5rem 4.5rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 2rem 0;
      cursor: pointer; }

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 5rem;
  height: 100%;
  text-align: center; }
  .signup__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headline-text);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem; }
  .signup__btn {
    border-radius: 2rem;
    border: 2px solid var(--color-headline-text);
    background-color: var(--pure-white);
    color: var(--color-headline-text);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer; }

.form-control {
  margin: 2rem 0;
  width: 100%; }
  .form-control > input {
    background-color: #eee;
    padding: 1.2rem 1.5rem;
    border: none;
    width: 100%; }
  .form-control small {
    visibility: hidden;
    float: left;
    color: var(--color-error); }
  .form-control.success input {
    border: 2.5px solid var(--color-success); }
  .form-control.error input {
    border: 2.5px solid var(--color-error); }
  .form-control.error small {
    visibility: visible;
    color: var(--color-error); }
