/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999


*/
:root {
  --color-primary-text: #880E4F;
  --color-secondary-text: #C2185B;
  --color-headline-text: #C51162;
  --color-theme1: #AD1457;
  --color-hover: #E91E63;
  --pure-white: #ffffff;
  --pure-black: #000000;
  --color-success: #30d158;
  --color-error: #ff443a;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-text);
  min-height: 100vh; }

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */ }

.masthead__text {
  font-size: 8rem;
  font-weight: 600;
  color: var(--pure-white); }

.latest-blogs__blog--title {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 5.4rem;
  color: var(--color-primary-text); }

.latest-blogs__blog--info {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.7rem;
  color: var(--color-secondary-text); }

.section-headline {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-headline-text); }

.part-vision--text {
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  text-align: center;
  color: var(--pure-white); }

.logo {
  margin-left: 2rem;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .logo__svg {
    height: 4.25rem;
    margin-right: 1rem; }
  .logo__text {
    font-size: 3rem;
    font-weight: 600; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500; }
  .user-nav__item {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__link:hover {
    color: var(--color-hover); }
  .user-nav__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--pure-white); }
  .user-nav__dropdown:hover > span {
    color: var(--color-hover); }
  .user-nav__user-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .user-nav__user-menu a {
      color: var(--color-hover);
      padding: 1.2rem 1.6rem;
      text-decoration: none;
      display: block;
      text-align: left; }
      .user-nav__user-menu a:hover {
        background-color: #ddd; }
  .user-nav__dropdown:hover .user-nav__user-menu {
    display: block; }

.masthead {
  width: 100%;
  height: 45rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--Grey-light-2); }

.masthead-topic {
  width: 100%;
  height: 45rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--Grey-light-2); }

.latest-blogs {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem; }
  .latest-blogs__blog {
    padding: 5.3rem;
    background-color: var(--pure-white);
    box-shadow: var(--shadow-dark);
    border-radius: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

.user-tools {
  flex: 1; }

.card-topic {
  background-color: var(--Grey-light-2);
  border-radius: 1.3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 80%; }
  .card-topic__link {
    text-decoration: none; }
  .card-topic:not(:last-child) {
    margin-right: 2rem; }
  .card-topic__img1 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img1--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__img2 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img2--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__img3 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img3--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__img4 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img4--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__img5 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img5--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__img6 {
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/topic6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 1.3rem 1.3rem 0 0; }
    .card-topic__img6--title {
      font-size: 3rem;
      color: var(--pure-white); }
  .card-topic__info {
    padding: 4rem;
    flex: 1; }
    .card-topic__info--text {
      font-size: 2rem;
      font-weight: 500;
      color: var(--pure-black);
      margin-bottom: 2rem; }
    .card-topic__info--contribution {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--color-primary-text); }

.part-help {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0; }
  .part-help__link {
    margin-right: 10rem; }
    .part-help__link:last-child {
      margin-right: 0rem; }
    .part-help__link--text {
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: uppercase; }
    .part-help__link--text > a {
      text-decoration: none;
      color: var(--pure-white); }
      .part-help__link--text > a:hover {
        color: var(--color-hover); }

.white-light {
  border: 1px solid var(--pure-white);
  width: 70%;
  margin: auto; }

.part-vision {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 30rem; }

.part-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--color-primary-text); }
  .part-legal--text {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--pure-white); }

input:hover,
input:focus {
  outline: 0;
  transition: all 0.5s linear;
  box-shadow: inset 0px 0px 10px var(--color-hover); }

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid var(--color-primary-text);
  color: var(--color-primary-text);
  background: white;
  border-radius: 3px;
  cursor: pointer; }

.btn:hover,
.btn:active {
  background-color: var(--color-hover);
  color: white; }

.container {
  max-width: 100%;
  box-shadow: var(--shadow-dark);
  min-height: 100vh; }

.header {
  height: 8rem;
  background-color: var(--pure-black);
  border-bottom: 1px solid var(--Grey-dark-1);
  color: var(--pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  margin: 0 2rem;
  background-color: var(--pure-white);
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  min-height: 50rem;
  border-bottom: 1px solid var(--Grey-light-2); }

.genre-content {
  margin: 0 2rem;
  background-color: var(--pure-white);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 50rem;
  border-bottom: 1px solid var(--Grey-light-2); }

.page-footer {
  background-color: var(--pure-black);
  min-height: 30rem; }

.row {
  display: flex;
  padding: 2rem 2rem;
  width: 100%; }

.bg-white {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  padding: 4rem 4rem; }
  .hero__logo {
    height: 10rem;
    margin-bottom: 4rem; }
  .hero__text {
    font-weight: 600;
    font-size: 4rem;
    color: #333333;
    margin-bottom: 4rem;
    text-align: center; }
  .hero__subtext {
    font-weight: 400;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 4rem;
    text-align: center; }

.login-container {
  max-width: 100rem;
  background-color: var(--pure-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  min-height: 80vh;
  display: flex;
  margin: 10rem auto; }

.sign-in-container {
  flex: 0 0 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  .overlay-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5rem;
    height: 100%;
    text-align: center; }
    .overlay-panel--primary {
      font-size: 4rem;
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 2rem; }
    .overlay-panel--secondary {
      font-size: 2rem;
      font-weight: 400;
      color: var(--pure-white);
      margin-bottom: 11rem; }
    .overlay-panel__btn {
      border-radius: 2rem;
      border: none;
      background-color: var(--pure-white);
      color: var(--color-headline-text);
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1.5rem 4.5rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 2rem 0;
      cursor: pointer; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 5rem;
  height: 100%;
  text-align: center; }
  .login__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headline-text);
    margin-bottom: 2.5rem; }
  .login > input {
    background-color: #eee;
    border: none;
    padding: 1.2rem 1.5rem;
    margin: 2rem 0;
    width: 100%; }
  .login__btn {
    border-radius: 2rem;
    border: 2px solid var(--color-headline-text);
    background-color: var(--pure-white);
    color: var(--color-headline-text);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer; }

.signup-container {
  max-width: 100rem;
  background-color: var(--pure-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  min-height: 80vh;
  display: flex;
  margin: 10rem auto; }

.sign-up-container {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.signup__overlay {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }
  .signup__overlay-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5rem;
    height: 100%;
    text-align: center; }
    .signup__overlay-panel--primary {
      font-size: 4rem;
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 2rem; }
    .signup__overlay-panel--secondary {
      font-size: 2rem;
      font-weight: 400;
      color: var(--pure-white);
      margin-bottom: 10rem; }
    .signup__overlay-panel__btn {
      border-radius: 2rem;
      border: none;
      background-color: var(--pure-white);
      color: var(--color-headline-text);
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1.5rem 4.5rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 2rem 0;
      cursor: pointer; }

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 5rem;
  height: 100%;
  text-align: center; }
  .signup__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headline-text);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem; }
  .signup__btn {
    border-radius: 2rem;
    border: 2px solid var(--color-headline-text);
    background-color: var(--pure-white);
    color: var(--color-headline-text);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer; }

.form-control {
  margin: 2rem 0;
  width: 100%; }
  .form-control > input {
    background-color: #eee;
    padding: 1.2rem 1.5rem;
    border: none;
    width: 100%; }
  .form-control small {
    visibility: hidden;
    float: left;
    color: var(--color-error); }
  .form-control.success input {
    border: 2.5px solid var(--color-success); }
  .form-control.error input {
    border: 2.5px solid var(--color-error); }
  .form-control.error small {
    visibility: visible;
    color: var(--color-error); }

meter {
  /* Reset the default appearance */
  margin: 0 auto 1rem;
  width: 100%;
  height: 0.8rem;
  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1); }

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1); }

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value {
  background: red; }

meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow; }

meter[value="3"]::-webkit-meter-optimum-value {
  background: orange; }

meter[value="4"]::-webkit-meter-optimum-value {
  background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar {
  background: red; }

meter[value="2"]::-moz-meter-bar {
  background: yellow; }

meter[value="3"]::-moz-meter-bar {
  background: orange; }

meter[value="4"]::-moz-meter-bar {
  background: green; }

meter::-webkit-meter-optimum-value {
  transition: width 0.4s ease-out; }
