/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-theme-1:#00C9FF;
  --color-theme-2: #92FE9D;
  --color-primary-text: #000000;
  --color-secondary-text: #DBDBDB;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-text);
  min-height: 100vh; }

.masthead__text {
  font-size: 8rem;
  font-weight: 600;
  color: var(--color-primary-text); }

.logo {
  margin-left: 2rem;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .logo__svg {
    height: 4.25rem;
    margin-right: 1rem; }
  .logo__text {
    font-size: 3rem;
    font-weight: 600; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500; }
  .user-nav__item {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__item:hover {
    background: -webkit-linear-gradient(315deg, var(--color-theme-1), var(--color-theme-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .user-nav__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-secondary-text); }

.masthead {
  width: 100%;
  height: 45rem;
  background-image: url("../../img/masthead.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--Grey-light-2); }

.container {
  max-width: 100%;
  box-shadow: var(--shadow-dark);
  min-height: 100rem; }

.header {
  height: 8rem;
  background-color: var(--color-primary-text);
  border-bottom: 1px solid var(--Grey-dark-2);
  color: var(--color-secondary-text);
  display: flex;
  justify-content: space-between;
  align-items: center; }
