<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="login-container">
        <div class="sign-in-container">
            <form class="login" action="/login" method="POST">
                <h1 class="login__text">Sign In</h1>
                <input class="login__email" type="email" name="email" placeholder="email">
	            <input class="login__password" type="password" name="password" placeholder="Password">
                <button class="login__btn disable-select" type="submit">Sign In</button>
                
            </form>
        </div>
        <div class="overlay">
            <div class="overlay-panel overlay-right disable-select">
                <h1 class="overlay-panel--primary">Hey there!</h1>
                <p class="overlay-panel--secondary">Join today and start posting your thoughts</p>
                <a href="/signup">
                    <button class="overlay-panel__btn">Sign Up</button>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>