<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="login-container">
        <div class="sign-in-container">
            
            <form class="login" action="/new-password" method="POST">
                <h1 class="login__text">New Password</h1>
                <% if(errorFlash) { %>
                    <div class="login__user-feedback"><h4 style="color: #ff443a;"><%= errorFlash %></h4></div>
                <% } %>
                
                <input class="login__password" type="password" name="password" placeholder="Password">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <button class="login__btn disable-select" type="submit">Update Password</button>
                
            </form>
            
        </div>
        <div class="overlay">
            <div class="overlay-panel overlay-right disable-select">
                <h1 class="overlay-panel--primary">Hey there!</h1>
                <p class="overlay-panel--secondary">Join today and start posting your thoughts</p>
                <a href="/signup">
                    <button class="overlay-panel__btn">Sign Up</button>
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>