/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
        
    // --color-primary-text: #000000;
    // --color-secondary-text: #DBDBDB;

    --color-primary-text: #880E4F;
    --color-secondary-text: #C2185B;

    --color-headline-text: #C51162;

    --color-theme1: #AD1457;

    --color-hover: #E91E63;

    --pure-white: #ffffff;
    --pure-black: #000000;
    

    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
    --Grey-light-3: #f0eeee;
    --Grey-light-4: #ccc;

    --Grey-dark-1 : #333;
    --Grey-dark-2 : #777;
    --Grey-dark-3 : #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
    
}