.container {
    max-width: 100%;
    // background-color: orangered;
    box-shadow: var(--shadow-dark);
    min-height: 100vh; 
    
}

.header {
    height: 8rem;
    background-color: var(--pure-black);
    border-bottom: 1px solid var(--Grey-dark-1);
    color: var(--pure-white);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    margin: 0 2rem;
    background-color: var(--pure-white);
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    min-height: 50rem;
    border-bottom: 1px solid var(--Grey-light-2);
    

}
.genre-content {
    margin: 0 2rem;
    background-color: var(--pure-white);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    border-bottom: 1px solid var(--Grey-light-2);    

}

.page-footer {   
    
    
    background-color: var(--pure-black);
    min-height: 30rem;

}

.row {
    display: flex;
    padding: 2rem 2rem;
    width: 100%;
}