<footer class="page-footer">
    <div class="part-help">
        <div class="part-help__link">
            <h6 class="part-help__link--text">
              <a href="#">About us</a>
            </h6>
        </div>
        <div class="part-help__link">
            <h6 class="part-help__link--text">
              <a href="#">Status</a>
            </h6>
        </div>
        <div class="part-help__link">
            <h6 class="part-help__link--text">
              <a href="#">Terms</a>
            </h6>
        </div>
        <div class="part-help__link">
            <h6 class="part-help__link--text">
              <a href="#">Writers</a>
            </h6>
        </div>
        <div class="part-help__link">
            <h6 class="part-help__link--text">
              <a href="#">Privacy</a>
            </h6>
        </div>
    </div>
    <hr class="white-light">
    <div class="part-vision">
        <p class="part-vision--text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur."</p>
    </div>

    <div class="part-legal">
        <h5 class="part-legal--text">&copy; 2020 Athena All rights reserved</h5>                   
    </div>
</footer>