<header class="header disable-select">
    <div class="logo">
        <img src="/img/feather-pen.png" alt="Athena logo" class="logo__svg">
        <h1 class="logo__text">Athena</h1>
    </div>
    <nav class="navbar">
        <ul class="user-nav">
            <li class="user-nav__item">
                <a href="/" class="user-nav__link user-nav__item--active">
                    Home
                </a>
            </li>
            <li class="user-nav__item">
                <a href="/topics" class="user-nav__link">
                    Topics
                </a>
            </li>
            <li class="user-nav__item">
                <a href="#" class="user-nav__link">
                    About
                </a>
            </li>
            