<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/feather-pen.png">
        
        <title>Athena &mdash; Blog application</title>
    </head>
    <body>
        <div class="container">
            <header class="header disable-select">
                <div class="logo">
                    <img src="img/feather-pen.png" alt="Athena logo" class="logo__svg">
                    <h1 class="logo__text">Athena</h1>
                </div>
                <nav class="navbar">
                    <ul class="user-nav">
                        <li class="user-nav__item user-nav__item--active">
                            <a href="main.html" class="user-nav__link">
                                Home
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a href="#" class="user-nav__link">
                                Blogs
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a href="#" class="user-nav__link">
                                About
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <div class="user-nav__dropdown">
                                <span class="user-nav__user-name">Swaroop Nayak</span>
                                <div class="user-nav__user-menu">
                                    <a href="#">My Blogs</a>
                                    <a href="#">My Account</a>
                                    <a href="#">Logout</a>

                                </div>
                            </div>
                        </li>
                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead-blog disable-select">
                <div class="masthead-blog__blog-info">
                    <h1 class="masthead-blog__text">
                        This is the blog title which is long and will occupy the whole masthead
                    </h1>
                    <h2 class = "masthead-blog__subtext">This is a subtitle</h2>
                    <h3 class = "masthead-blog__author">Posted by <span style="font-weight: 600;">Swaroop Nayak</span> on 07/12/2020 in <span style="font-weight: 600;">Webdev</span></h2>
                </div>
                
            </div>

            <div class="blog-content">
                <p class="blog-content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan orci quis tortor gravida, quis faucibus urna vestibulum. Vestibulum in nisl quis leo elementum convallis. Aliquam sed neque non neque egestas finibus in vitae nulla. Suspendisse finibus, magna quis scelerisque tempor, augue ipsum consequat tortor, eu vestibulum elit urna ac erat. Nunc facilisis, mi sit amet fermentum placerat, arcu augue malesuada erat, nec congue diam nunc nec lorem. Nullam eu maximus lacus. Vestibulum maximus turpis non ligula placerat vulputate. Morbi aliquet tortor id porttitor dictum.

Duis sollicitudin quis lorem ut ullamcorper. Donec rhoncus magna vel turpis dignissim iaculis. Nunc porttitor, eros eu fermentum bibendum, tortor augue facilisis lorem, nec iaculis quam ipsum ac libero. Maecenas sodales rutrum turpis sed semper. Sed ut diam libero. Curabitur a mauris lacus. Morbi cursus sem non lorem mollis, eu congue magna auctor.

Quisque vel eros et orci dictum malesuada et ac enim. Ut congue orci sit amet eros lobortis congue. Nulla vehicula leo consequat, molestie sem vel, iaculis nunc. Pellentesque libero odio, ultrices id dapibus vel, consectetur vel justo. Curabitur eget diam non nulla congue tincidunt. Proin mauris mauris, sollicitudin et laoreet et, facilisis eu metus. Proin egestas pellentesque dignissim.

Sed convallis sem sed justo elementum convallis. Ut facilisis ex quis hendrerit hendrerit. Nulla facilisi. Phasellus a mattis nunc. Maecenas bibendum eros in molestie porttitor. Ut et pellentesque nunc, sed elementum neque. Nullam sed dui erat. Suspendisse iaculis magna a leo egestas, in imperdiet mauris rutrum. Suspendisse potenti. Fusce consectetur dui blandit ornare tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi maximus eros quis interdum luctus. Maecenas porta rutrum enim tincidunt vestibulum.

Donec varius sapien risus, ac egestas odio volutpat sed. Integer ultricies magna erat, sed euismod massa vestibulum et. Sed sem urna, iaculis non tortor sit amet, facilisis condimentum justo. Morbi rhoncus, erat non auctor tincidunt, diam diam auctor turpis, non rutrum felis dolor quis purus. Nullam eu nisl eu eros bibendum viverra in eget libero. Praesent a bibendum orci. Phasellus blandit metus ut nisi egestas cursus. Maecenas cursus ultricies euismod. Sed lacus diam, placerat nec tincidunt eget, consequat id turpis. Curabitur pharetra nisl dapibus, laoreet arcu facilisis, efficitur massa. Vestibulum non nisl auctor sapien tristique tristique. Praesent tincidunt sagittis pellentesque.
                </p>
                <div class="rating-section">
                    <div class="rating-section__votes">138</div>
                    <button class="rating-section__btn">Upvote</button>
                </div>
            </div>

            
            

            <footer class="page-footer">
                <div class="part-help">
                    <div class="part-help__link">
                        <h6 class="part-help__link--text">
                          <a href="#">About us</a>
                        </h6>
                    </div>
                    <div class="part-help__link">
                        <h6 class="part-help__link--text">
                          <a href="#">Status</a>
                        </h6>
                    </div>
                    <div class="part-help__link">
                        <h6 class="part-help__link--text">
                          <a href="#">Terms</a>
                        </h6>
                    </div>
                    <div class="part-help__link">
                        <h6 class="part-help__link--text">
                          <a href="#">Writers</a>
                        </h6>
                    </div>
                    <div class="part-help__link">
                        <h6 class="part-help__link--text">
                          <a href="#">Privacy</a>
                        </h6>
                    </div>
                </div>
                <hr class="white-light">
                <div class="part-vision">
                    <p class="part-vision--text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem
                      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                      explicabo.
                      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur."</p>
                </div>

                <div class="part-legal">
                    <h5 class="part-legal--text">&copy; 2020 Athena All rights reserved</h5>                   
                </div>
            </footer>
            
        </div>
        
    </body>
</html>