//////////LOGO///////
.logo {
    // height: 3.25rem;
    margin-left: 2rem;    
    display: flex;
    align-self: stretch;
    align-items: center;

    &__svg {
        height: 4.25rem;
        margin-right: 1rem;
    }

    &__text {
        font-size: 3rem;
        font-weight: 600;
        
    }

}


///////////NAVIGATION///////
.user-nav {
    
    align-self: stretch;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    

    &__item {
        padding: 0 2rem;       
        height: 100%;
        display: flex;
        align-items: center;       
        
    }
    &__link:hover {
        // background: -webkit-linear-gradient(315deg, var(--color-theme-1), var(--color-theme-2));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: var(--color-hover);
        
        
    }

    &__link { 
        cursor: pointer;
        text-decoration: none;
        color: var(--pure-white);

    }

}


///////////MAST-HEAD/////////
.masthead {
    width: 100%;
    height: 45rem;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/masthead.jpg');
    // background-color: var(--color-theme1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--Grey-light-2);
    // position: relative;

        
   

}
.masthead-topic {
    width: 100%;
    height: 45rem;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topics.jpg');
    // background-color: var(--color-theme1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--Grey-light-2);
    // position: relative;
        
   

}


/////////LATEST-BLOGS/////
.latest-blogs {
    
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-right: 2rem;

    &__blog {
        padding: 5.3rem;
        // background-image: linear-gradient(to bottom right, var(--color-theme-2) , var(--color-theme-1));
        background-color: var(--pure-white);
        box-shadow: var(--shadow-dark);
        border-radius: 2rem;
        margin-bottom: 2rem;        
        
        
    }

}

.genres {
    // background-color: var(--pure-white);
    // box-shadow: var(--shadow-dark);
    // border-radius: 2rem;
    
    flex: 1;
}

/////////TOPICS//////
.card-topic {
    // background-color: orangered;
    background-color: var(--Grey-light-2);
    border-radius: 1.3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    // box-shadow: var(--shadow-dark);
    
    &__link {
        text-decoration: none;
    }
    

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &__img1 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }
    &__img2 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }
    &__img3 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }
    &__img4 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }
    &__img5 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }
    &__img6 {
        width: 100%;
        // min-height: 10%;
        background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../img/topic6.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border-radius: 1.3rem 1.3rem 0 0;

        &--title {
            font-size: 3rem;
            color: var(--pure-white);            

        }
    }


    &__info {
        
        // height: auto;
        padding: 4rem;
        flex: 1;        
        
        
        &--text {
            font-size: 2rem;
            font-weight: 500;
            color: var(--pure-black);
            margin-bottom: 2rem;

        }
        &--contribution {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--color-primary-text);

        }
    }

}


/////////FOOTER//////

.part-help {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    &__link {
        margin-right: 10rem;

        &:last-child {
            margin-right: 0rem;
        }
        
        

        &--text {
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: uppercase;
            

        }
        &--text > a {
            text-decoration: none;
            color: var(--pure-white);
            &:hover {
           
                color: var(--color-hover);
            }
        }
        
    }
    

}

///HR TAG////
.white-light {
    
    border: 1px solid var(--pure-white);
    width: 70%;
    margin: auto;
}

.part-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 30rem;

}

///LEGAL///
.part-legal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0; 
    background-color: var(--color-primary-text);  
    
    &--text {
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--pure-white);


    }
}