.stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pure-white);
    box-shadow: var(--shadow-dark);
    border-radius: 2rem;
    padding: 1rem 1rem;
    &:not(:last-child) {
        margin-right: 2rem;

    }
}