.masthead__text {
    font-size: 8rem;
    font-weight: 600;
    color: var(--pure-white); 
}
.masthead-blog__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--pure-white);
    margin-bottom: 1rem;
    

}
.masthead-blog__subtext {
    font-size: 2rem;
    font-weight: 600;
    color: var(--pure-white);
    margin-bottom: 2rem;
    

}
.masthead-blog__author {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--pure-white);
    
}

.latest-blogs__blog--title {
    font-size: 3.4rem;
    font-weight: 600;
    
    line-height: 5.4rem;
    color: var(--color-primary-text);            
}

.latest-blogs__blog--info {
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    
    line-height: 2.7rem;
    color: var(--color-secondary-text);      
    
}
.blog-content__text {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--pure-black);
    text-align: left;
    line-height: 1.95rem;

}

.section-headline {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-headline-text);
}

.part-vision--text {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.8rem;
    text-align: center;
    color: var(--pure-white);
    
}