.bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    padding: 4rem 4rem;
    &__logo {
        height: 10rem;
        margin-bottom: 4rem;
    }
    &__text {
        font-weight: 600;
        font-size: 4rem;
        color: #333333;
        margin-bottom: 4rem;
        text-align: center;
    }
    &__subtext {
        font-weight: 400;
        font-size: 1.5rem;
        color: #333333;
        margin-bottom: 4rem;
        text-align: center;
    }


}