.login-container {
  max-width: 100rem;
  background-color: var(--pure-white);
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  min-height: 80vh;
  display: flex;
  margin: 10rem auto;
}

.sign-in-container {
  flex: 0 0 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: var(--color-hover);
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0 5rem;
    height: 100%;
    text-align: center;

    &--primary {
      font-size: 4rem;
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 2rem;
    }
    &--secondary {
      font-size: 2rem;
      font-weight: 400;
      color: var(--pure-white);
      margin-bottom: 11rem;
    }

    &__btn {
      border-radius: 2rem;
      border: none;
      background-color: var(--pure-white);
      color: var(--color-headline-text);
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1.5rem 4.5rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 2rem 0;
      cursor: pointer;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 5rem;
  height: 100%;
  text-align: center;

  &__text {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headline-text);
    margin-bottom: 2.5rem;
  }

  & > input {
    background-color: #eee;
    border: none;
    padding: 1.2rem 1.5rem;
    margin: 2rem 0;
    width: 100%;
  }
  &__btn {
    border-radius: 2rem;
    border: 2px solid var(--color-headline-text);
    background-color: var(--pure-white);
    color: var(--color-headline-text);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1.2rem 4.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
  }
}

input:hover,
input:focus {
  outline: 0;
  transition: all 0.5s linear;
  box-shadow: inset 0px 0px 10px var(--color-hover);
}
