<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <%- include('../includes/user-menu.ejs') %>
                                                
                    </ul>
                </nav>
            </header>
            
            <div class="content">
               <main class="create-blog">
                    <h1 class="section-headline">Create a Blog</h1>
                    <form class="blog-form" action="/create-blog" method="POST">
                        <div class="form-control">
                            <label for="title">Title</label>
                            <input required type="text" name="title" id="title">
                        </div>
                        <div class="form-control">
                            <label for="subtitle">Subtitle</label>
                            <input required type="text" name="subtitle" id="subtitle">
                        </div>
                        <div class="form-control">
                            <label for="topic">Topic</label>
                            <div class="custom-select">
                                <select required id="topic" name="topic">
                                    <option value="Webdev">Webdev</option>
                                    <option value="Appdev">Appdev</option>
                                    <option value="ML">ML</option>
                                    <option value="Systems">Systems</option>
                                    <option value="Gamedev">Gamedev</option>
                                    <option value="Cybersecurity">Cybersecurity</option>
                                </select>
                            </div>
                            
                        </div>
                        
                        <div class="form-control">
                            <label for="blog">Blog</label>
                            <textarea name="blog" id="blog" rows="20"></textarea>
                        </div>
            
                        <button class="btn" type="submit">Create</button>
                    </form>
                    
                    
                    
               </main>

               
            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>