<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <%- include('../includes/nav.ejs') %>
                        <li class="user-nav__item">
                            <div class="user-nav__dropdown">
                                <span class="user-nav__user-name">Swaroop Nayak</span>
                                <div class="user-nav__user-menu">
                                    <a href="/create-blog">Create Blog</a>
                                    <a href="#">My Blogs</a>
                                    <a href="/my-account/1">My Account</a>
                                    <a href="#">Logout</a>

                                </div>
                            </div>
                        </li>
                                                
                    </ul>
                </nav>
            </header>
            <div class="masthead-topic disable-select">
                <h1 class="masthead__text">
                    Topics
                </h1>
            </div>

            <div class="genre-content">
                <div class="row">
                    <div class="card-topic">
                        <a href = "/topics/webdev" class="card-topic__link">
                            <div class="card-topic__img1">
                                <h3 class="card-topic__img1--title">Web dev</h3>
                            </div>
                            <div class="card-topic__info">
                                <p class="card-topic__info--text">
                                    An insightful collection of blogs about Webdev.
                                </p>
                                <h5 class="card-topic__info--contribution">500 contributions</h5>
                            </div>
                        </a>
                        
                    </div>
                    <div class="card-topic">
                        <div class="card-topic__img2">
                            <h3 class="card-topic__img2--title">App dev</h3>
                        </div>
                        <div class="card-topic__info">
                            <p class="card-topic__info--text">
                                An insightful collection of blogs about App dev.
                            </p>
                            <h5 class="card-topic__info--contribution">500 contributions</h5>
                        </div>

                    </div>
                    <div class="card-topic">
                        <div class="card-topic__img3">
                            <h3 class="card-topic__img3--title">ML/AI</h3>
                        </div>
                        <div class="card-topic__info">
                            <p class="card-topic__info--text">
                                An insightful collection of blogs about ML.
                            </p>
                            <h5 class="card-topic__info--contribution">500 contributions</h5>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card-topic">
                        <div class="card-topic__img4">
                            <h3 class="card-topic__img4--title">Systems</h3>
                        </div>
                        <div class="card-topic__info">
                            <p class="card-topic__info--text">
                                An insightful collection of blogs about Systems.
                            </p>
                            <h5 class="card-topic__info--contribution">500 contributions</h5>
                        </div>
                    </div>
                    <div class="card-topic">
                        <div class="card-topic__img5">
                            <h3 class="card-topic__img5--title">Game dev</h3>
                        </div>
                        <div class="card-topic__info">
                            <p class="card-topic__info--text">
                                An insightful collection of blogs about Game dev.
                            </p>
                            <h5 class="card-topic__info--contribution">500 contributions</h5>
                        </div>

                    </div>
                    <div class="card-topic">
                        <div class="card-topic__img6">
                            <h3 class="card-topic__img6--title">Cybersecurity</h3>
                        </div>
                        <div class="card-topic__info">
                            <p class="card-topic__info--text">
                                An insightful collection of blogs about Cybersecurity.
                            </p>
                            <h5 class="card-topic__info--contribution">500 contributions</h5>
                        </div>

                    </div>
                </div>
            </div>
            

            <%- include('../includes/footer.ejs') %>
            
        </div>
        
    </body>
</html>